In [1]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split

In [2]:
data=pd.read_csv('adult.csv')

In [3]:
data.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K

In [4]:
data.workclass.unique()

array(['Private', 'Local-gov', '?', 'Self-emp-not-inc', 'Federal-gov',
       'State-gov', 'Self-emp-inc', 'Without-pay', 'Never-worked'],
      dtype=object)

In [5]:
data['occupation'].unique()

array(['Machine-op-inspct', 'Farming-fishing', 'Protective-serv', '?',
       'Other-service', 'Prof-specialty', 'Craft-repair', 'Adm-clerical',
       'Exec-managerial', 'Tech-support', 'Sales', 'Priv-house-serv',
       'Transport-moving', 'Handlers-cleaners', 'Armed-Forces'],
      dtype=object)

In [6]:
data['native-country'].unique()

array(['United-States', '?', 'Peru', 'Guatemala', 'Mexico',
       'Dominican-Republic', 'Ireland', 'Germany', 'Philippines',
       'Thailand', 'Haiti', 'El-Salvador', 'Puerto-Rico', 'Vietnam',
       'South', 'Columbia', 'Japan', 'India', 'Cambodia', 'Poland',
       'Laos', 'England', 'Cuba', 'Taiwan', 'Italy', 'Canada', 'Portugal',
       'China', 'Nicaragua', 'Honduras', 'Iran', 'Scotland', 'Jamaica',
       'Ecuador', 'Yugoslavia', 'Hungary', 'Hong', 'Greece',
       'Trinadad&Tobago', 'Outlying-US(Guam-USVI-etc)', 'France',
       'Holand-Netherlands'], dtype=object)

In [7]:
##Просто убираем строки с пропущенными данными
data=data.loc[data.workclass!='?']
data=data.loc[data.occupation!='?']
data=data.loc[data['native-country']!='?']

In [8]:
encoder=LabelEncoder()
y=pd.Series(encoder.fit_transform(data.income))

In [9]:
y

0        0
1        0
2        1
3        1
4        0
        ..
45217    0
45218    1
45219    0
45220    0
45221    1
Length: 45222, dtype: int32

In [10]:
selectedcol=['workclass']
selectedcol=selectedcol[:-1]

In [11]:
encoder=LabelEncoder()
columns=['workclass','education','marital-status','occupation','relationship','race','gender','native-country']
for column in columns:
    data[column]=encoder.fit_transform(data[column])
data.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,2,226802,1,7,4,6,3,2,1,0,0,40,38,<=50K
1,38,2,89814,11,9,2,4,0,4,1,0,0,50,38,<=50K
2,28,1,336951,7,12,2,10,0,4,1,0,0,40,38,>50K
3,44,2,160323,15,10,2,6,0,2,1,7688,0,40,38,>50K
5,34,2,198693,0,6,4,7,1,4,1,0,0,30,38,<=50K

In [12]:
X=data[data.columns[:-1]]

In [13]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.15, random_state=42)

In [14]:
model_Log=LogisticRegression()

model_Log.fit(X_train,y_train)

LogisticRegression()

In [15]:
model_Log.score(X,y)

0.7937508292424041

In [16]:
model_Log.score(X_train,y_train)

0.7935636609605078

In [17]:
model_Log.score(X_test,y_test)

0.7948113207547169

In [18]:
model_SVC=SVC(kernel='poly', degree=2)

model_SVC.fit(X_train,y_train)

SVC(degree=2, kernel='poly')

In [19]:
model_SVC.score(X,y)

0.7833355446464111

In [20]:
model_SVC.score(X_train,y_train)

0.7829231489671679

In [21]:
model_SVC.score(X_test,y_test)

0.7856721698113207